:root {
  --bg: #003f3a;        
  --card: #006d63;      
  --text: #e9edc9;      
  --muted: #a8dadc;     
  --accent: #76b7b2;   
}
body.light {
  --bg: #e9edc9;       
  --card: #ffffff;    
  --text: #003f3a;     
  --muted: #006d63;    
  --accent: #006d63;   
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
}

.header {
  background: var(--card);
  padding: 20px 24px 40px;
}

.header-top {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.header-content {
  margin-top: 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.theme-btn {
  padding: 8px 14px;
  border-radius: 8px;
  background: var(--accent);
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
}


.links a {
  margin: 0 10px;
 color: var(--accent);
  text-decoration: none;
  font-weight: 600;
}

.section {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

.section h2 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  border-bottom: 2px solid var(--accent);
  display: inline-block;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills span {
  background: var(--card);
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 0.9rem;
}

.project {
  background: var(--card);
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
}

.project h3 {
  margin-bottom: 8px;
}

.project p {
 color: var(--muted);
  margin-bottom: 10px;
} 

button {
  background: var(--bg);
  color: var(--muted);
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background: var(--accent);
  opacity: 0.9;
  color: white;
}
footer {
  text-align: center;
  padding: 20px;
  color: var(--muted);
}

.theme-btn {
  position: absolute;
  top: 16px;
  right: 16px;

  padding: 8px 14px;
  border-radius: 8px;

  background: var(--accent);
  color: #fff;
  border: none;

  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;

  transition: background 0.3s ease, transform 0.2s ease;
}
.theme-btn:hover {
  transform: translateY(-1px);
  opacity: 0.9;
}
body.light .theme-btn {
  background: #020617;
  color: #ffffff;
}
